<div class="comics-container">
  <div class="list-container">
    <form>
      <input type="text" name="searchValue" placeholder="Comics name" [(ngModel)]="searchValue">
      <button (click)="onFilter()" type="submit">Search</button>
    </form>
    <ul>
      <li *ngFor="let comic of filteredComics" (click)="selectedComic = comic">
        <img src={{comic.image}}>
        <div class="content">
          <p>{{comic.name}}</p>
          <p>{{comic.releaseDate | date: 'MMM d, y'}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="detail-container">
    <app-comic *ngIf="selectedComic" [comic]="selectedComic"></app-comic>
  </div>
</div>