@import "../../styles.scss";

.comics-container {
  display: flex;
  height: calc(100vh - 100px);
  margin-top: 10px;
  justify-content: space-around;
  .list-container {
    display: flex;
    flex-direction: column;
    form {
      input {
        width: 300px;
      }
      button {
        margin-left: 10px;
        width: 70px;
      }
    }
    ul {
      li {
        display: flex;
        background-color: $secondary;
        margin: 10px;
        height: 100px;
        border-radius: 10px;

        img {
          height: 100px;
          width: 80px;
          border-radius: 10px;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;

          width: 100%;
          .title {
            cursor: pointer;
          }
          .icons {
            display: flex;
            justify-content: flex-end;

            fa-icon {
              &:hover{
                color: $details;
              }
              margin-right: 10px;
            }

          }
        }
      }
    }
  }

  .detail-container {
    margin-top: 40px;
  }
}
